<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/task
     http://www.springframework.org/schema/task/spring-task.xsd">
		
    <!-- spring mvc 用到的内容
		1 包组件扫描
		2 处理器映射器 mvc
		3 处理器适配器mvc
		4 视图解析器 （前缀 后缀）
		5 全局的异常处理器
		 -->
    <!--1 包组件扫描  -->
	<context:component-scan base-package="com.steven.television"></context:component-scan>

    <!-- 定时任务开关 -->
    <task:annotation-driven />
    
	<!-- 2 处理器映射器 mvc    3 处理器适配器mvc  扩充了注解驱动，可以将请求参数绑定到控制器参数 -->
<!--	<mvc:annotation-driven />-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!--     接口跨域配置-->
    <mvc:cors>
        <mvc:mapping path="/**"
                     allowed-origins="*"
                     allowed-methods="POST, GET, OPTIONS, DELETE, PUT"
                     allowed-headers="Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With"
                     allow-credentials="true" />
    </mvc:cors>
      
	<!-- 定义跳转的文件的前后缀 ，视图模式配置-->  
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	    <property name="prefix" value="/" ></property>
	    <property name="suffix" value=".jsp" ></property>
	</bean>-->

    <!--<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <property name="suffix" value=".html" />
        <property name="prefix" value=""></property>
    </bean>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="0" />
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp" />
        <property name="contentType" value="text/html;charset=UTF-8"></property>
    </bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="com.steven.television.config.HtmlResourceView"/>
        <property name="order" value="-1" />
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html" />
        <property name="contentType" value="text/html;charset=UTF-8"></property>
    </bean>

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>



    <!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">    
        <!-- 默认编码 -->  
        <property name="defaultEncoding" value="utf-8" />    
        <!-- 文件大小最大值 -->  
        <property name="maxUploadSize" value="10485760000" />    
        <!-- 内存中的最大值 -->  
        <property name="maxInMemorySize" value="40960" />    
        <!-- 启用是为了推迟文件解析，以便捕获文件大小异常 -->
        <property name="resolveLazily" value="true"/>
    </bean>

    <!--跨域请求配置-->
    <bean class="com.steven.television.config.CorsConfiguration"></bean>

    <!--静态资源访问-->
    <mvc:resources location="/" mapping="/**"/>
    <mvc:resources location="/view/" mapping="/**"/>
    <mvc:resources location="/css/" mapping="/**"/>
    <mvc:resources location="/images/" mapping="/**"/>
    <mvc:resources location="/js/" mapping="/**"/>
    <mvc:resources location="/json/" mapping="/**"/>
    <mvc:resources location="/layui/" mapping="/**"/>

</beans>