<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>修改密码--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../css/public.css" media="all" />
	<script type="text/javascript" src="../../js/jquery2.1.4.js"></script>
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script src="../../js/DateUtil.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
	            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body class="childrenBody">
<form class="layui-form layui-row changePwd" action="../../user/updatePassword" method="post">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
<!--		<div class="layui-input-block layui-red pwdTips">旧密码请输入“123456”，新密码必须两次输入一致才能提交</div>-->
		<input type="text" name="userId" value="" hidden>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-block">
				<input type="text" name="userName" value="" disabled class="layui-input layui-disabled">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">旧密码</label>
			<div class="layui-input-block">
				<input type="password" name="oldPassword" value="" placeholder="请输入旧密码" lay-verify="required|oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">新密码</label>
			<div class="layui-input-block">
				<input type="password" name="newPassword" value="" placeholder="请输入新密码" lay-verify="required|newPwd" id="oldPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">确认密码</label>
			<div class="layui-input-block">
				<input type="password" value="" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
<script>
	window.onload=function(){

		let cookieList = document.cookie.split("; ");
		let userId
		let userName
		for(let i in cookieList){
			let item = cookieList[i]
			if(cookieList[i].startsWith("userId=")){
				userId = item.substring(7,item.length)
				$("input[name=userId]").val(userId)
			}else if(cookieList[i].startsWith("userName=")){
				//设置用户名
				userName = item.substring(9,item.length)
				$("input[name=userName]").val(userName)
			}
		}

		$.post('../../user/userInfo', {id:userId}, function(res){
			if(!res.state){
				location.href="../../login.html"
			}else{
				$("input[name=userName]").val(res.result.userName)
			}
		})
	}


	layui.use(['form','layer','laydate','table','laytpl'],function(){
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				laydate = layui.laydate,
				laytpl = layui.laytpl,
				table = layui.table;

		//添加验证规则
		form.verify({
			oldPwd : function(value, item){
				if(value != "123456"){
					return "密码错误，请重新输入！";
				}
			},
			newPwd : function(value, item){
				if(value.length < 6){
					return "密码长度不能小于6位";
				}
			},
			confirmPwd : function(value, item){
				if(!new RegExp($("#oldPwd").val()).test(value)){
					return "两次输入密码不一致，请重新输入！";
				}
			}
		})

		form.on("submit(changePwd)",function(data){
			let _this = this
			let loading = layer.msg('保存中', {
				icon: 16
				,anim: -1
				,shade: 0.5    //遮罩
				,fixed: true
				,time: false    //手动关闭
			});
			$(this).attr("disabled","disabled").addClass("layui-disabled");
			$.ajax({
				url: data.form.action,
				data: data.field,
				dataType: 'json',
				contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
				type: 'post',
				success: function(res){
					console.log(res)
					if(!res.state){
						layer.open({
							type: 0,
							title: '提示',
							content: res.result,
							icon: -1,
							time: 2000
						})
					}else{
						setTimeout(function(){
							parent.location.reload()
						},500)
						layer.msg("保存成功", {time: 1500, anim: 6})
					}
				},
				complete: function(res){
					layer.close(loading)
					$(_this).removeClass('layui-disabled').removeAttr("disabled")
				}
			})
			return false;
		})
	})
</script>
</body>
</html>