/**/
.layui-form-label2{
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
}

/*
.layui-table-form-ktd{
    width:80px;
    height:18px;
    padding: 5px;
    text-align: center

}*/

